{% with title="Audio Validation" %}
{% include "header.html" %}
{% endwith %}


<div class="container" style="text-align: center">
	<section id="main_content">

    <p>Sentence: {{dataset.text}}</p>

    <audio controls autoplay>
      <source src="{{ url_for('static', filename=dataset.file_path) }}" type="audio/wav"  media="(min-width: 800px)" preload>
      
    Your browser does not support the audio element.
    </audio>

    <form method="post" action="/">

      <input type="submit" value="Valid" name="Valid"/>
      <input type="submit" value="Invalid" name="Invalid" />

    </form>

  </section>
</div>


{% include "footer.html" %}

